header {
  display: flex;
  justify-content: space-between;
  /* background-color: blueviolet; */
  box-sizing: border-box;
  /* position: absolute;
  left: 184px;
  top: 145px;
  z-index: -1; */
}

ul {
  margin-left: -36px;
}

.firstSection {
  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  width: 571px;
  box-sizing: border-box;
}

li {
  margin-top: 5px;
  list-style: none;
}

.buttonDivs {
  width: 226px;
  /* background-color: aqua; */
  box-sizing: border-box;
}

.featureContent {
  display: none;
}

.companyContent {
  display: none;
}
#Register {
  margin-left: 40px;
  width: 91px;
  height: 31px;
  border-radius: 10px;
  border: none;
}
#Register:hover {
  border: solid 1px black;
  cursor: pointer;
}

#login {
  width: 91px;
  height: 31px;
  border-radius: 10px;
  border: none;
}

#login:hover {
  border: solid 1px black;
  cursor: pointer;
}
#featureBtn {
  border: none;
}
#featureBtn:hover {
  cursor: pointer;
}

#companyBtn {
  border: none;
}
#companyBtn:hover {
  cursor: pointer;
}
#learnMoreBtn:hover {
  cursor: pointer;
}
main {
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 116px; */
  /* background-color: aquamarine; */
  position: absolute;
  left: 285px;
  top: 125px;
  z-index: -1;
}
.hero {
  width: 500px;
  /* background-color: aqua; */
  /* margin-left: 192px; */
  /* margin-top: 116px; */
}

.heroHeader {
  width: 273px;
  font-size: 25px;
}
.heroContent {
  width: 311px;
}

#learnMoreBtn {
  width: 121px;
  margin-top: 42px;
  height: 44px;
  border-radius: 11px;
  font-weight: bolder;
}
.heroImg {
  width: 200px;
  /* background-color: blue; */
  width: 502px;
  margin-top: 116px;
  height: 509px;
}

#heroImgId {
  width: 100%;
  height: 100%;
}

.imgIconDiv {
  display: flex;
  justify-content: space-around;
  margin-top: 128px;
}

/* .featureContent, */
.show {
  display: block;
}
